		a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
			padding: 0;
			margin: 0;
		}
		
		a{
			color: black;
			text-decoration: none;
		}
		ul{
			list-style: none;
		}

		/* 样式用于隐藏弹出窗口 */  
		#popup {  
			display: none;  
			position: absolute; /* 使用绝对定位 */  
			border: 2px solid #000;  
			background-color: #fff;  
			z-index: 1000;  
			padding: 20px;  
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
		} 

        /* 样式用于关闭按钮 */  
        #closeBtn {  
            position: absolute;  
            top: 10px;  
            right: 10px;  
            cursor: pointer;  
        }  

        /* 样式用于覆盖背景 */  
        #popoverlay {  
            display: none;  
            position: fixed;  
            left: 0;  
            top: 0;  
            width: 100%;  
            height: 100%;  
            background-color: rgba(0, 0, 0, 0.5);  
            z-index: 999;  
        }  

		#tab{
			width: 250px; 
			/*width:100%; 
			minWidth:225px;
			height: 640px;
			height: calc(100% - 183px); 
			*/
			height: calc(100% - 234px); 
			border: 1px solid #ddd;
			box-shadow: 0 0 2px #ddd;
			margin: 10px 0 0 0;
			/*处理超出的内容*/
			overflow: hidden;
		}
		
		/*选项卡的头部*/
		#tab-header{
			background-color: #F7F7F7;
			height: 33px;
			text-align: center;
			position: relative;
		}
		#tab-header ul{		
			/* width: 500px; */
			width: 100%;
			position: absolute;
			left: -1px;
		}
		#tab-header ul li{
			float: left;
			width: 78px;
			height: 33px;
			line-height: 33px;
			padding: 0 1px;
			border-bottom: 1px solid #dddddd;
		}
		#tab-header ul li.selected{
			background-color: white;
			font-weight: bolder;
			border-bottom: 0;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			padding: 0;
		 
		}
		 
		#tab-header ul li:hover{
			color: orangered;
		}
		 
		/*主要内容*/
		#tab-content .dom{
			display: none;
		}
		 
		#tab-content .dom ul li{
			float: left;
			/*background-color: red;*/
			margin: 15px 10px;
			width: 228px;
		}
		 
		#tab-content .dom ul li a:hover{
			color: orange;
		}		
	
		ul,li{list-style: none;margin:0;padding:0;float:left;}
		html{height:100%}
		body{height:100%;margin:0px;padding:0px;font-family:"微软雅黑" font-size:"10px";}
		p {
			font-size: 12px;
		}
		button {
			font-size: 10px;
			font-family:"微软雅黑";
		}
		span {
		   font-size: 12px;
		}
		dt {
			font-size: 18px;
			font-family: "微软雅黑";
			font-weight: bold;
			border-bottom: 1px dotted #000;
			padding: 5px 0 5px 5px;
			margin: 5px 0;
		}

		dd {
			padding: 5px 0 0 5px;
		}

		
		ul li {
			line-height: 20px;
			list-style:none; 
			padding:0
		}
		

		.mapcontainer{float:left; height:100%; margin: 0 0 0 0; flex: 1;}
		
		.rcontainer{float:right; height:100%; width:250px; border:1px solid #000; margin: 0 0 0 0; }
		
		.bigcontainer{float:left; height:100%; width:100%; display: flex;}
		
		.colorpicker {
			width: 23px;
			height: 23px;
			border:1px solid #000;
			cursor: pointer;
			position: absolute;
			color: #fff;
			border-radius:50%;
		}
		.mapctrbox {
			width: 72px;
			height: 25px;
			border: 0x;
			cursor: pointer;
			position: absolute;

		}		
		.bigmapctrbox {
            background-color: #fff;
            border: 1px solid #ccc;	
            padding: 5px;
            margin: 0px;
            display: flex;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);					
			width: 202px;
			height: 27px;
			cursor: pointer;
			position: absolute;
		}	
		
		/* 自定义弹出窗口样式 */  
		.custom-info-window {  
			/*width: 300px;*/ 
			width: 100%;  
			padding: 5px;  /* 15 */
			border-radius: 8px;  
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
			background-color: #fff;  
			text-align: center;  
		} 

		/* 自定义弹出菜单样式 */  
		.custom-context-menu {
			position: absolute;
			background: white;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
			display: none;
			z-index: 1000;
			min-width: 120px;
		}
		.custom-context-menu button {
			display: block;
			margin: 0;
			padding: 4px 8px;
			width: 100%;
			text-align: left;
			cursor: pointer;
			background: none;
			border: none;
			color: #333;
			font-size: 14px;
			text-decoration: none;
		}
		.custom-context-menu button:hover {
			background-color: #f5f5f5;
		}

		/* 经纬度刻度显示样式 */
		.centered-label {  
            /* 预设Label的宽度和高度 */  
            width: 200px;  
            height: 20px;  
            line-height: 20px; /* 使文本垂直居中 */  
            text-align: center; /* 使文本水平居中 */  
			border: none;
			background-color: rgba(0, 0, 0, 0);
            /* background-color: rgba(255, 255, 255, 0.8);  半透明背景 */  
            /* border: 1px solid #000; 边框 */  
            /* 偏移量设置为宽度的一半且方向相反，以实现水平居中对齐 */  
            /* 注意：这里的偏移量是基于Label左上角的，因此是负的 */  
            margin-left: -100px; /* 200px / 2 = 100px */  
        }

        /* 自定义按钮样式 */
        .custom-recdraw-button {
            background-color: #fff;
            border: 0px solid #333;
            padding: 0px;
            margin: 2px;
            cursor: pointer;
            display: inline-block;
            transition: background-color 0.3s; /* 添加过渡效果 */
        }
        .custom-recdraw-button div {
            width: 20px;
            height: 20px;
            border: 2px dashed #333;
            background-color: #ccc;
        }

		/*
		.custom-info-window img {  
			width: 100%;  
			height: auto;  
			border-radius: 8px 8px 0 0;  
		} 
		*/	 

		.custom-info-window p {  
            margin: 10px 0;  
            font-size: 14px;  
            color: #333;  
	    }  
  
		/*
        .custom-info-window .title {  
            font-size: 18px;  
            font-weight: bold;  
            margin-bottom: 6px;  
        }  
		*/	

        .custom-info-window-title {  
            font-size: 16px;  
            font-weight: bold; 
			text-align: center;   
            margin-bottom: 4px;  
        } 

        .info-window-image-container {  
            display: flex;  
			flex-direction: row;  
			align-items: flex-end; /* 使图片底部对齐 */ 
            justify-content: center; /* 水平中间对齐 */  
			/* border: 1px solid #ccc;  用于可视化容器 */ 
			padding: 2px; /* 可选，用于容器内边距 */  
			box-sizing: border-box; /* 包括内边距和边框在内计算宽度和高度 */             
            flex-wrap: wrap;        /* 允许图片在必要时换行（可选） */  			
            /*gap: 5px; 可选：设置图片之间的间距 */  
        } 		
		
        .info-window-image-container3 {  
			display: grid;  
			/*grid-auto-flow: column;  水平方向上的自动流动 */ 
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 自适应列宽 */  
			align-items: end; /* 垂直方向底部对齐 */ 		
            gap: 10px; /* 可选：设置图片之间的间距 */  
        } 
		
        .info-window-image-container2 {  
            display: flex;  
            justify-content: bottom; /* 水平中间对齐 */  
            align-items: center;    /* 垂直中间对齐（但在此例中，由于图片高度不一，效果可能不明显） */  
            flex-wrap: wrap;        /* 允许图片在必要时换行（可选） */  			
            gap: 10px; /* 可选：设置图片之间的间距 */  
        } 

        .info-window-image-container img {  
            max-width: 100%; /* 可选：确保图片不会超过容器的宽度 */
			/* max-width: calc(33% - 10px);  可选：确保图片在容器内正确缩放 */  
            /* height: auto;  保持图片的纵横比 */			
			margin: 0 10px; /* 可选，用于图片之间的间距 */   
        } 	
		
		/* 移除最后一个图片的右边距  
		.info-window-image-container img:last-child {  
			margin-right: 0;  
		}  
		*/
		
		.version-info-window-content {  
            padding: 10px;  
            border-radius: 5px;  
            background-color: #fff;  
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
        }  
  
        .version-info-window-content h2 {  
            margin-top: 0;  
        }  
  
        .version-info-window-content p {  
            margin: 5px 0;  
        }  
  
        .version-info-window-content button {  
            background-color: #007BFF;  
            color: #fff;  
            border: none;  
            padding: 5px 10px;  
            cursor: pointer;  
            border-radius: 3px;  
        }  
  
        .version-info-window-content button:hover {  
            background-color: #0056b3;  
        } 	

	        /* 模态框的基础样式 */
        .pop-modal {
            display: none; /* 初始隐藏模态框 */
            position: absolute;
            z-index: 1000; /* 确保模态框位于其他内容之上 */
            left: 50%;
            top: 30%;
            transform: translate(-50%, -30%); /* 将模态框中心对齐到div中心 */
            width: 400px;
            height: 260px;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            border-radius: 8px;
            overflow: hidden; /* 防止内容溢出 */
        }

        /* 模态框的标题栏样式 */
        .pop-modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px;
            background-color: #33333388; /* 深灰色背景 */
            color: #fff;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        /* 模态框的标题样式 */
        .pop-modal-title {
            margin: 0;
            font-size: 16px; /* 字体大一号 */
        }

        /* 关闭按钮的样式 */
        .pop-close-btn {
            background: none;
            border: none;
            color: #fff;
            font-size: 22px; /* 关闭按钮再大一些 */
            cursor: pointer;
            padding: 5px; /* 增加一些内边距使按钮看起来更大 */
        }

        .pop-close-btn:hover,
        .pop-close-btn:focus {
            outline: none;
            color: #e0e0e0;
        }

        /* 模态框的内容区域样式 */
        .pop-modal-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            text-align: center;
        }

        .pop-modal-body p {
            font-size: 16px; /* 字体大一号 */
            margin: 5px 0;
        }

        .pop-modal-body a {
            color: #007bff;
            text-decoration: none;
            font-size: 16px; /* 链接字体大小与段落相同 */
        }

        .pop-modal-body a:hover {
            text-decoration: underline;
        }	
		
		
		/*
		.mapcontainer{float:left; height:100%; width:80%; margin: 0 0 0 0; flex: 1;}
		
		.rcontainer{float:right; height:100%; width:20%; minWidth:230px; margin: 0 0 0 0;}
		
		.bigcontainer{float:left; height:100%; width:100%; display: flex;}
		

		.mapcontainer{float:left; height:100%; width:80%; margin: 0 0 0 0;}
		
        .mapcontainer{float:left; height:100%; width:80%; }		

		
		.mapcontainer{float:left; height:100%; width: calc(100% - 228px); }
		
		.noborder{border:none;}
		
		.height5{border:none; height:5px;}
		
		#container{float:left; height:100%; width: calc(100% - 228px); }
		
	
		#bigcontainer{float:left; height:100%; width:100%;}
		
		#bigcontainer{float:left; height:100%; margin-right:228px; }
		
		#container{float:left; height:100%; margin-right:228px; }
		
		#container{float:left; height:100%; width:80%; margin-right:228px; } 
		
		#smallcontainer{float:left; height:100%; width:0.1%;}

		*/
	
		
		/* #r-result{float:right; height:100%; width:228px; margin-right:0px;  position: absolute; border:1px solid #000; margin: 0 0 0 0;}	
		
		#s-result{float:left; height:600px; width:100%; overflow:scroll; overflow-y:auto; overflow-x:auto; }

		#bottom-result{float:right; minWidth:230px; margin-right:1px; border:1px solid #000; bottom:0; height:33px;}	

		#s-result{float:left; height:600px; width:100%; overflow:scroll; overflow-y:auto; overflow-x:auto; }
		
		#s-result{float:left; width:245px; height:600px; overflow:scroll; overflow-y:auto; overflow-x:auto; }

		#s-result{float:left; width:245px; height:680px; overflow:scroll; overflow-y:auto; overflow-x:auto; }		
		
		*/
	

		#r-result{float:right; width:250px; margin-right:1px; margin-left:5px; border:1px; solid #000; margin: 0 0 0 0; height:150px; top:0;}
		
		#bottom-result-button{float:left;  width:100%; margin-top:5px; margin-right:1px; border:1px solid #000; }	

		#bottom-result-button2{float:left;  width:100%; margin-top:5px; margin-right:1px; border:1px solid #000; }		

		#bottom-result{float:right; width:250px; margin-right:1px; border:1px solid #000; bottom:0; height:1px; margin: 0 0 0 0; visibility:hidden;}
		
		#bottom-result-2{float:bottom; width:250px;  margin-right:1px; border:1px solid #000; bottom:0; height:79px; margin: 0 0 0 0; }			
		
		#s-result{float:left; width:245px; height:680px; overflow:scroll; overflow-y:auto; overflow-x:auto; }
		
		#countresult_, #arearesult_{border:none}